.container {
    max-width: 1100px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.flex-center-y {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-reverse-row {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-90 {
    width: 90%;
}

.h-100 {
    height: 100%;
}

.card {
    text-align: center;
    background-color: #fff;
    color: #333;
    margin: 5px;
    /* border: 1px solid #444; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.rounded {
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h2 {
    font-size: 5vh;
    padding: 5px;
}

.card p {
    padding: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.float-clear {
    clear: both;
}

.form-container {
    width: 100%;
    display: flex;
    margin: 5px 0;
}

.mw-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

@media (max-width: 920px) {
    .grid-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid .card {
        width: 360px;
        margin: 0 auto;
    }

}

@media (max-width: 500px) {
    .grid .card {
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 300px) {
    .grid .card {
        width: 200px;
        margin: 0 auto;
    }
}